<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <h1>Favorite Albums</h1>
    <h2>Add your favorite album below</h2>
    {% for album in albums %}
    <li><a href="{% url 'edit_album' album.pk %}">{{ album }}</a><li>
    {% endfor %}
    <a href="{% url 'add_album' %}">Add a new album</a>
</body>
</html>